<div class="jumbotron">
  <h2>Phoenix Bookshelf</h2>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Books</h4>
    <ul>
      <li>
        <a href="http://www.amazon.co.uk/books">This is where the books live</a>
      </li>
    </ul>
  </div>
</div>
